<%- content_for :header do %>
<%- end %>

<div class="messages">
  <%- @messages.each do |message| %>
    <div id="message_#{message.id}" class="message-holder #{'me' if current_user == message.user}">
      <div class="message-meta">
        <span class="message-author">
          <%= "#{message.user.name}" %>
	</span>
        <span class="message-time">
          <%= "at #{message.created_at.strftime("%I:%M%p") }" %>
	</span>
	<div class = "message-content">
          <%= message.content %>
	</div>
      </div>
    </div>
  <%- end %>
</div>

<div class="sidebar">
  <div class="rooms_title">Rooms</div>
  <div class="rooms">
    <%- @channels.each do |channel| %>
      <div class="room" <%= "id='selected'" if channel.id == @channel.id %>>
	<%= "#{channel.name} (#{channel.users.count})" %>
      </div>
    <%- end %>
  </div>

  <div class="users_title">Users Online</div>
  <div class="users">
    <%- @users.each do |user| %>
      <div class="user">
        <%= "#{user.first_name} #{user.last_name}" %>
      </div>
    <%- end %>
  </div>
</div>

<%- content_for :footer do %>
  <div class="chatbox">
    <%= form_for([@channel, @message], :remote => true) do |f| %>
      <%= f.hidden_field :channel_id, :value =>  @message.channel_id %>
      <%=f.text_area :content, :rows => 20 %>
    <%- end %>
  </div>
  <div class="actions">
    <%= image_tag("sound-on.png", :id => "audio_toggle") %>
  </div>
<%-end %>
