- content_for :header do
  :javascript
    $.data(document, 'channelId',    "#{@channel.to_param}")
    $.data(document, 'lastMessageId', #{@messages.try(:last).try(:id) || 0})
    $.data(document, 'users',         #{@channel.users.keys           || []})

.messages
  - @messages.each do |message|
    %div{:id => "message_#{message.id}", :class => "message-holder #{'me' if current_user == message.user}"}
      %span{:class => "message-author"}
        = "#{message.user.name}: "
      %span{:class => "message-content"}
        = message.content

=form_for([@channel, @message], :remote => true) do |f|  
  =f.hidden_field :channel_id, :value =>  @message.channel_id
  =f.text_field :content
  =f.submit "send message"
