<div class="chat_history">
  <div class="old_chat_history"><%= link_to "Previous history...", "/channels/#{ @channel.to_param }/messages?history=true&from=today", :target => "_blank" %></div>
</div>

<div class="sidebar">
  <div class="rooms_title">Search</div>
  <div class="search_holder"></div>

  <div class="rooms_title">Audio</div>
  <div class="audio_actions">
    <%= image_tag("sound-on.png", :id => "audio_toggle") %>
  </div>

  <div id='file_list_title' class="rooms_title">Files</div>
  <div class='file_upload_holder'></div>

  <div id="files_list_holder">
    <ul class="files_list"></ul>
  </div>

  <div class="rooms_title">Rooms</div>
  <div class="rooms_list">
  </div>

  <div class="users_title">Users Online</div>
  <div class="users_list">
    <%- @users.each do |user| %>
    <%- if user[:id] == current_user.id %>
    <div class="user selected" id="<%= "user_#{user[:id]}"%>">
      <%- else %>
      <div class="user">
        <%-end %>
        <%= "#{user[:first_name]} #{user[:last_name]}" %>
      </div>
      <%- end %>
    </div>
  </div>

  <%- content_for :footer do %>
  <div class="chatbox">
    <%= form_for([@channel, @message], :remote => true) do |f| %>
    <%= f.hidden_field :channel_id, :value =>  @message.channel_id %>
    <%=f.text_area :content, :rows => 20 %>
    <%- end %>
  </div>

  <div class="actions">
    <%= image_tag("sound-on.png", :id => "audio_toggle") %>
  </div>

  <script language="javascript">
    $(document).data('channelId',         <%= "'#{@channel.to_param}\'" %>)
    // $(document).data('lastMessageId',     <%= "#{@messages.try(:last).try(:id) || 0}" %>)
    // $(document).data('lastReadMessageId', <%= "#{@messages.try(:last).try(:id) || 0}"  %>)
  </script>

  <%-end %>
