<div class="chat_history">
  <div class="old_chat_history"><%= link_to "Previous history...", "/channels/#{ @channel.to_param }/messages?history=true&from=today", :target => "_blank" %></div>
</div>

<div class="sidebar">
  <div class="sidebar_title">Rooms</div>
  <div class="rooms_list sidebar_container"> </div>

  <div class="sidebar_title">Users Online</div>
  <div class="users_list sidebar_container">
    <%- @users.each do |user| %>
    <%- if user[:id] == current_user.id %>
    <div class="user selected" id="<%= "user_#{user[:id]}"%>">
      <%- else %>
      <div class="user">
	<%-end %>
        <%= "#{user[:first_name]} #{user[:last_name]}" %>
      </div>
      <%- end %>
  </div>

  <div id='file_list_title' class="sidebar_title">Files</div>
  <div class='file_upload_holder sidebar_container'>
    <div id="files_list_holder">
      <ul class="files_list"></ul>
    </div>
  </div>

</div>

  <%- content_for :footer do %>
  <div class="chatbox">
    <%= form_for([@channel, @message], :remote => true) do |f| %>
    <%= f.hidden_field :channel_id, :value =>  @message.channel_id %>
    <%=f.text_area :content, :rows => 20 %>
    <%- end %>
  </div>

  <div class="actions">
    <img alt="Sound-on" id="audio_toggle" src="/assets/sound-on.png" />
  </div>
  <%-end %>

  <%- content_for :js_meta do %>
  <script language="javascript">
    $(document).data('userData',             <%= "#{@users}" %>)
    $(document).data('channelId',            "<%= @channel.to_param %>")
    // $(document).data('lastMessageId',     <%= "#{@messages.try(:last).try(:id) || 0}" %>)
    // $(document).data('lastReadMessageId', <%= "#{@messages.try(:last).try(:id) || 0}"  %>)
  </script>

  <%- end %>
