<!DOCTYPE html>
<html>
<head>
  <title><%= " #{@title}" || " Kogo" %></title>
  <%= stylesheet_link_tag    "application" %>

  <%= csrf_meta_tags %>

  <%= yield :header %>
</head>
<body>
  <audio class="audio_private"></audio>
  <audio class="audio_common"></audio>

  

  <div class="container">
    <header>
      <%= image_tag "logo.png", :alt => "Kogo", :width => "165", :height => "51" %>
      <% if current_user %>
       <%= link_to "logout", destroy_user_session_path, :class => "l logout", :method => :delete %>
      <% end %>
      <form id="search_form">
	<input class="search_term autobox" name="search_term" type="text" value="Search Archives">
      </form>
    </header>
    <%= yield %>
  </div>


  <footer>
    <%= yield :footer %>
  </footer>
 
  <%= javascript_include_tag "application" %>

   <% if user_signed_in? %>
    <script type="text/javascript">
      (function() { $.data(document, 'me', '<%= current_user.name %>'); })();
    </script>
  <% end %>
  
  <%= yield :js_meta %>
</body>
</html>
