<!DOCTYPE html>
<html>
<head>
  <title><%= " #{@title}" || " Kogo" %></title>
  <%= stylesheet_link_tag    "application" %>

  <%= csrf_meta_tags %>

  <%= yield :header %>
</head>
<body>
  <audio class="audio_private"></audio>
  <audio class="audio_common"></audio>

  

  <div class="container">
    <header>
      <%= image_tag "logo.png", :alt => "Kogo", :width => "165", :height => "51" %>
      <div class="nav_links">
	<%- if user_signed_in? %>
	<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
	<%- end %>
      </div>
    </header>
    <%= yield %>
    <div class="container_footer"></div>
  </div>
  <%= javascript_include_tag "application" %>

  <footer class="footer">
    <%= yield :footer %>
  </footer>
 
 <% if user_signed_in? %>
    <script type="text/javascript">
      (function() { $.data(document, 'me', '<%= current_user.name %>'); })();
    </script>
  <% end %>
  
</body>
</html>
