<!DOCTYPE html>
<html>
<head>
  <title><%= " #{@title}" || " Kogo" %></title>
  <%= stylesheet_link_tag    "application" %>

  <%= csrf_meta_tags %>

  <%= yield :header %>
</head>
<body>
  <audio class="audio_private"></audio>
  <audio class="audio_common"></audio>

  

  <div class="container">
    <div class="nav_wrapper">
      <div class="nav_bar">
	<div class="app_name">
	  <%= image_tag "kogo-logo.png", :alt => "Kogo" %>
	</div>
	<div class="nav_links">
	  <%- if user_signed_in? %>
	    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
	  <%- end %>
	</div>
      </div>
    </div>
    <%= yield %>
    <div class="container_footer"></div>
  </div>

  <div class="footer">
    <%= yield :footer %>
  </div>
  <%= javascript_include_tag "application" %>

  <script language="javascript">
    $.data(document, 'channelId',         <%= "'#{@channel.to_param}\'" %>)
    $.data(document, 'lastMessageId',     <%= "#{@messages.try(:last).try(:id) || 0}" %>)
    $.data(document, 'lastReadMessageId', <%= "#{@messages.try(:last).try(:id) || 0}"  %>)
    $.data(document, 'users',             <%= "#{@channel.users.keys           || []}" %>)
  </script>
 
 <% if user_signed_in? %>
    <script type="text/javascript">
      (function() { $.data(document, 'me', '<%= current_user.name %>'); })();
    </script>
  <% end %>
  
</body>
</html>
